<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no">
	<title>绿果田园-亲手种水果，包邮送到家</title>
	<link type="text/css" rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/weixin/css/index.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/weixin/css/iconfont.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/weixin/css/lvguo.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/weixin/css/reset_weiui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
	<link type="text/css" rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" id="pageloader-css"  href="__PUBLIC__/weixin/css/pageloader.css" type="text/css" media="all" />
	<script type="text/javascript" src="__PUBLIC__/weixin/js/rem.js"></script>

</head>
<body>
	

</body>
</html>
<script>
	alert({$msg})
	WeixinJSBridge.invoke('closeWindow',{},function(res){
    	alert(res.err_msg);

	});
</script>