<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no">
	<title>哐糖</title>
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/weixin/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/weixin/css/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/weixin/css/vip.css">
	<link rel="stylesheet" href="__PUBLIC__/weixin/css/reset_weiui.css">
	<link rel="shortcut icon" href="/favicon.ico" />
	<script type="text/javascript" src="__PUBLIC__/weixin/js/rem.js"></script>
</head>
<body>
<!--     <div class="activity_box">
        <img src="__PUBLIC__/weixin/image/vip/activity_img.jpg" alt="" class="activity_img" style="width: 100%;">
    </div> -->
    <div class="activity_box">
        <img src="__PUBLIC__/weixin/image/vip/activity_img2.jpg" alt="" class="activity_img" style="width: 100%;">
    </div>
    <div class="activity_box" style="position: relative;">
        <img src="__PUBLIC__/weixin/image/vip/activity_img3.jpg" alt="" class="activity_img" style="width: 100%;">
        <a href="{:U("Index/vip_charge")}" class="activity_src" style="display: inline-block;width: 3.24rem;height: 0.7rem;line-height: 0.7rem;position: fixed;left:0;right: 0;margin:auto;bottom:1.8rem;text-align: center;font-size: 0.44rem; color: #FFFFFF;background-color: #fe6306;border-radius: 20px;-moz-box-shadow:0px 0px 10px rgba(0,0,0,.3); -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.3); box-shadow:0px 0px 10px rgba(0,0,0,.3);">立即体验</a>
    </div>
   <!--  <a class="community_pub_tiezi" href="{:U("Vip/ruzhu")}" style="background: none;box-shadow: none;width: 80px;height: 80px;right: 0px;z-index:10;">
        <img src="__PUBLIC__/weixin/image/vip/confim.png" style="width: 100%;height: 100%;display: block;margin: 0;"> -->
        <!-- <p class="text">入驻</p> -->
    <!-- </a> -->
<!--     <div class="Add_Btn " style="box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);">
		<a href="{:U("Vip/ruzhu")}" class="Add_lk">
			<div class="addText" style="color: #ff795f;">立即提交</div>	
		</a>		
	</div> -->
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://js.fundebug.cn/fundebug.1.1.2.min.js" apikey="62393626ed1383ae5c9cca4b0916540a756347a82d67d74a7e4d82696590a3e1"></script>
<script src="__PUBLIC__/weixin/js/template.js"></script>
<script src="__PUBLIC__/weixin/js/v_share.js"></script>
<script type="text/javascript">
	function location_call_back(latitude,longitude,speed,accuracy){
	}
</script>