<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no">
	<title>{$tiezi['title']}</title>
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/weixin/css/reset_weiui.css">
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	<div class="article_detail">
		<ul class="weui-media-box__info" style="margin-top:0px">
			<if condition="$tiezi['user_info']['level'] eq 1">
			<li class="weui-media-box__info__meta tiezi_head_image head_putong" style="background-image: url({$tiezi['user_info']['headimgurl']})" onclick="user_info({$tiezi['user_id']})">
				<img src="__PUBLIC__/weixin/image/putong.png" class="img">
			</li>
			</if>
			<if condition="$tiezi['user_info']['level'] eq 2">
			<li class="weui-media-box__info__meta tiezi_head_image head_huangjin" style="background-image: url({$tiezi['user_info']['headimgurl']})" onclick="user_info({$tiezi['user_id']})">
				<img src="__PUBLIC__/weixin/image/huangjin.png" class="img">
			</li>
			</if>
			<if condition="$tiezi['user_info']['level'] eq 3">
			<li class="weui-media-box__info__meta tiezi_head_image head_zuanshi" style="background-image: url({$tiezi['user_info']['headimgurl']})" onclick="user_info({$tiezi['user_id']})">
				<img src="__PUBLIC__/weixin/image/zuanshi.png" class="img">
			</li>
			</if>
			<li class="weui-media-box__info__meta" onclick="user_info({$tiezi['user_id']})">{$tiezi['user_info']['nickname']}</li>
			<li class="weui-media-box__info__meta">{$tiezi['add_time']}</li>
		</ul>
		<p class="weui-panel__hd" style="padding:5px;"></p>
		<div class="content">
			<article class="weui-article" style="line-height: 25px;padding:20px;">
				{$tiezi['content']}
				<if condition="$tiezi['lottery_config_id'] neq 0">
			<div class="weui-panel__bd zhanji_list">
				<div class="content">
					<p class="text">抓到的娃娃：</p>
					<if condition="$tiezi['lottery_config']['lottery_type_id'] eq 8">
					<a href="{:U('Index/game_diamond',array('id'=>$vo['lottery_config_id']))}" title="{$vo['name']}">
					</if>
					<if condition="$tiezi['lottery_config']['lottery_type_id'] eq 6">
					<a href="{:U('Index/game_gloden',array('id'=>$vo['lottery_config_id']))}" title="{$vo['name']}">
					</if>
					<if condition="$tiezi['lottery_config']['lottery_type_id'] eq 4">
					<a href="{:U('Index/game',array('id'=>$tiezi['lottery_config_id']))}" title="{$tiezi['lottery_config']['name']}">
					</if>
						<div class="good">
							<div class="good_image">
								<img src="{$tiezi['lottery_good']['img_url']}"  class="img"/>
							</div>
							<div class="good_name">
								<p>{$tiezi['lottery_config']['name']}</p>
								<p class="changzi_name">{$tiezi['lottery_good']['name']}</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			</if>
			</article>
			<p class="weui-panel__hd">
			</p>

			<ul class="weui-media-box__info">
				<li class="weui-media-box__info__meta">
					{$tiezi['view_num']} 人阅读
				</li>
				<li class="weui-media-box__info__meta weui-media-box__info__meta_extra c_extra">
					<if condition='$is_thumb_up eq 0'>
					<span class="c_thumb_up_icon" onclick="zan({$tiezi['id']})" id="zan"></span>
					</if>
					<if condition='$is_thumb_up eq 1'>
					<span class="c_thumb_up_icon_active" onclick="zan({$tiezi['id']})" id="zan"></span>
					</if>
					<span class="c_num" style="margin-right: 10px;" onclick="zan({$tiezi['id']})" id="zan_num">{$tiezi['thumb_up_num']}</span>
					<span class="c_comment_icon"></span>
					<span class="c_num">{$tiezi_back|count}</span>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="weui-panel" style="background-color: #f2f2f2;">
		<div class="weui-panel__hd" style="background-color: #fff;">回复 ({$tiezi_back|count})</div>
		<volist name="tiezi_back" id="vo">
		<div class="weui-panel__bd" style="margin-bottom: 10px;">
			<a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__bd tiezi">
					<h4 class="weui-media-box__title">{$vo['content']}</h4>
				</div>
			</a>
			<ul class="weui-media-box__info" style="margin-top:0px">
				<if condition="$vo['user_info']['level'] eq 1">
				<li class="weui-media-box__info__meta tiezi_head_image head_putong" style="background-image: url({$vo['user_info']['headimgurl']})" onclick="user_info({$vo['user_info']['id']})">
					<img src="__PUBLIC__/weixin/image/putong.png" class="img">
				</li>
				</if>
				<if condition="$vo['user_info']['level'] eq 2">
				<li class="weui-media-box__info__meta tiezi_head_image head_huangjin" style="background-image: url({$vo['user_info']['headimgurl']})" onclick="user_info({$vo['user_info']['id']})">
					<img src="__PUBLIC__/weixin/image/huangjin.png" class="img">
				</li>
				</if>
				<if condition="$vo['user_info']['level'] eq 3">
				<li class="weui-media-box__info__meta tiezi_head_image head_zuanshi" style="background-image: url({$vo['user_info']['headimgurl']})" onclick="user_info({$vo['user_info']['id']})">
					<img src="__PUBLIC__/weixin/image/zuanshi.png" class="img">
				</li>
				</if>
				<li class="weui-media-box__info__meta" onclick="user_info({$vo['user_info']['id']})">{$vo['user_info']['nickname']}</li>
				<li class="weui-media-box__info__meta">{$vo['add_time']}</li>
			</ul>
		</div>
		</volist>
	</div>

	
	<a class="community_pub_tiezi" href="{:U("Community/comment",array('id'=>$tiezi['id']))}">
		<img src="__PUBLIC__/weixin/image/c_public.png" class="img">
		<p class="text">回复</p>
	</a>
	<script>
		var _mtac = {};
		(function() {
			var mta = document.createElement("script");
			mta.src = "https://pingjs.qq.com/h5/stats.js?v2.0.2";
			mta.setAttribute("name", "MTAH5");
			mta.setAttribute("sid", "500627254");
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(mta, s);
		})();
	</script>
</body>
</html>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://js.fundebug.cn/fundebug.1.1.2.min.js"
apikey="62393626ed1383ae5c9cca4b0916540a756347a82d67d74a7e4d82696590a3e1"></script>
<script src="__PUBLIC__/weixin/js/template.js"></script>
<script src="__PUBLIC__/weixin/js/c_share.js"></script>
<script type="text/javascript">

function user_info(id){
	var url = "{:U("Community/user_zhanji",array('id'=>'-'))}";
	url = url.replace('-',id + '');
	window.location.href = url

}
	function zan(id){
		var data = {
			tiezi_id:id,
		}
		$.post("{:U("Community/ajax_thumb_up")}",data,function(ret){
			if (ret['code'] == 0) {
				if (ret['data']['type'] == 0) {
					$("#zan").addClass('c_thumb_up_icon');
					$("#zan").removeClass('c_thumb_up_icon_active');
				}
				else{
					$("#zan").removeClass('c_thumb_up_icon');
					$("#zan").addClass('c_thumb_up_icon_active');
				}
				$("#zan_num").text(ret['data']['thumb_up_num']);

			}
			else{
				alert(ret['msg']);
			}
		})
	}
</script>