<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no">
	<title>{$user['nickname']}的战绩</title>
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/weixin/css/reset_weiui.css">
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	<div class="weui-panel weui-panel_access">
		<div class="weui-panel__bd">
			<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__hd user_head_image" style="background-image: url({$user['headimgurl']});" >
					<if condition="$user['level'] eq 1">
					<img class="weui-media-box__thumb user_head_image_img" src="__PUBLIC__/weixin/image/putong.png">
					</if>
					<if condition="$user['level'] eq 2">
					<img class="weui-media-box__thumb user_head_image_img" src="__PUBLIC__/weixin/image/huangjin.png">
					</if>
					<if condition="$user['level'] eq 3">
					<img class="weui-media-box__thumb user_head_image_img" src="__PUBLIC__/weixin/image/zuanshi.png">
					</if>
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title">{$user['nickname']}</h4>
					<p class="weui-media-box__desc" style="margin-top:5px;">娃娃数量：<span style="font-size: 16px;color:#de703e;font-weight: bold">{$user['record_total']}</span>个</p>
				</div>
			</a>
		</div>
	</div>
	<volist name="lottery_record" id="vo">
	<div class="weui-panel__bd zhanji_list">
		<div class="date">
			<p class="month">{$vo['date_m']}</p>
			<p class="day">{$vo['date_d']}</p>
		</div>
		<div class="content">
			<if condition = '$vo.is_hit eq 1'>
			<p class="text">运气爆棚！抓到了</p>
			</if>
			<if condition = '$vo.is_hit eq 0'>
			<p class="text">手抖了一下！没抓到</p>
			</if>
			<if condition="$vo['lottery_type_id'] eq 8">
			<a href="{:U('Index/game_diamond',array('id'=>$vo['lottery_config_id']))}" title="{$vo['name']}">
			</if>
			<if condition="$vo['lottery_type_id'] eq 6">
			<a href="{:U('Index/game_gloden',array('id'=>$vo['lottery_config_id']))}" title="{$vo['name']}">
			</if>
			<if condition="$vo['lottery_type_id'] eq 4">
			<a href="{:U('Index/game',array('id'=>$vo['lottery_config_id']))}" title="{$vo['name']}">
			</if>
				<div class="good">
					<div class="good_image">
						<img src="{$vo['good_image']}"  class="img"/>
					</div>
					<div class="good_name">
						<p>{$vo['config_name']}</p>
						<p class="changzi_name">{$vo['good_name']}</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	</volist>
</div>
<script>
	var _mtac = {};
	(function() {
		var mta = document.createElement("script");
		mta.src = "https://pingjs.qq.com/h5/stats.js?v2.0.2";
		mta.setAttribute("name", "MTAH5");
		mta.setAttribute("sid", "500627254");
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(mta, s);
	})();
</script>
</body>
</html>


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>

<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://js.fundebug.cn/fundebug.1.1.2.min.js"
apikey="62393626ed1383ae5c9cca4b0916540a756347a82d67d74a7e4d82696590a3e1"></script>
<script src="__PUBLIC__/weixin/js/c_share.js"></script>
<script type="text/javascript">
</script>