
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header layuiadmin-card-header-auto">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">操作人员</label>
					<div class="layui-input-block">
						<select id="merchan_user_id">
							<option value="">所有人员</option>
							<foreach name="merchant_users" item="vo" >
							<option value="{$vo['id']}">{$vo['name']}({$vo['tel']})</option>
							</foreach>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">开始时间</label>
					<div class="layui-input-block">
						<input type="text" id="start_time" placeholder="开始时间" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">结束时间</label>
					<div class="layui-input-block">
						<input type="text" id="end_time" placeholder="结束时间" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<a class="layui-btn layuiadmin-btn-order" onclick="sub()">
						<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="layui-card-body">
			<table id="logs">
			</table>
		</div>
		<div class="layui-tab layui-tab-brief">
		</div>
	</div>
</div>
<script src="__PUBLIC__/resources/layui/layui.all.js"></script>
<script type="text/javascript">
	var table = layui.table;
	layui.use('table', function(){
		table.render({
			elem: '#logs',
			height: 500,
			url: '{:U("Sys/ajax_get_logs")}', //数据接口
			page: true, //开启分页
			id:'logs',
			cols: [
				[ 
					//表头
					{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
					{field: 'add_time', title: '操作时间', width:180, sort: true},
					{field: 'merchant_name', title: '操作人', width:180},
					{field: 'content', title: '操作内容'}
				]
			]
		});

	});

	layui.use('laydate', function(){
		var laydate = layui.laydate;
		laydate.render({
			elem: '#start_time' //指定元素
		});
		laydate.render({
			elem: '#end_time' //指定元素
		});
	});
	function sub(){
		var merchan_user_id = $("#merchan_user_id").val();
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		if (Date.parse(start_time) > Date.parse(end_time)) {
			layer.msg("开始时间不能大于结束时间");
			return;
		}
		table.reload("logs",{
			page:{
				curr : 1
			},
			where:{
				start_time:start_time,
				end_time:end_time,
				merchan_user_id:merchan_user_id,
			}
		})
	}
</script>
