<style type="text/css">
	.menu_pid{
		display:block;
		height:36px;
		line-height:36px;
		width:100%;
		padding-left:10px;
		border-color: #D2D2D2!important;
	}
</style>
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header layuiadmin-card-header-auto">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">活动名称</label>
					<div class="layui-input-block">
						<input type="text" id="search_name" placeholder="请输入活动名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<a class="layui-btn layuiadmin-btn-order" onclick="search_lottery()">
						<i class="layui-icon layui-icon-search  layuiadmin-button-btn"></i>
					</a>
					<a class="layui-btn layuiadmin-btn-order" onclick="sub()">
						<i class="layui-icon layui-icon-add-circle layuiadmin-button-btn"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="layui-card-body">
			<table id="users" lay-filter="logs">
			</table>
		</div>
		<div class="layui-tab layui-tab-brief">
		</div>
	</div>
</div>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="publicTpl">
	{{#  if(d.is_open === '0'){ }}
	<span class="layui-badge" onclick="fabu({{d.id}},1)" style="color:white;background-color:red;cursor:pointer">未开启</span>
	{{#  } }}
	{{#  if(d.is_open === '1'){ }}
	<span class="layui-badge-rim" onclick="fabu({{d.id}},0)" style="color:white;background-color:green;cursor:pointer">正在进行</span>

	{{#  } }}
</script>
<script type="text/html" id="typeTpl">
	{{#  if(d.type === '0'){ }}
	<span class="layui-badge">单人限次</span>
	{{#  } }}
	{{#  if(d.type === '1'){ }}
	<span class="layui-badge-rim">每日限次</span>

	{{#  } }}
</script>
<script type="text/html" id="coverImageTpl">
	<img src="{{d.cover_image}}" title="{{d.cover_image}}" style="width:100%;">
</script>
<script src="__PUBLIC__/resources/layui/layui.all.js"></script>
<script type="text/javascript">
	var table = layui.table;
	layui.use('table', function(){
		table.render({
			elem: '#users',
			height: 500,
			url: '{:U("Activity/ajax_get_activity")}', //数据接口
			page: true, //开启分页
			id:'users',
			cols: [
			[ 
					//表头
					{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
					{field: 'cover_image', title: '封面图', width:180, sort: true,templet:"#coverImageTpl"},
					{field: 'config_name', title: '活动名称', width:300, sort: true},
					{field: 'sub_title', title: '副标题', width:300, sort: true},
					{field: 'config_num', title: '赠送金额', width:150},
					{field: 'type', title: '活动类型', width:200,templet:"#typeTpl"},
					{field: 'once_num', title: '单人限领次数', width:150},
					{field: 'day_num', title: '每日限领次数', width:150},
					{field: 'is_open', title: '状态', width:150, sort: true,templet:"#publicTpl"},
					{field: 'add_time', title: '配置时间', width:200},
					{fixed: 'right',title:'操作', width:150, align:'center', toolbar: '#barDemo'} 
					]
					]
				});

	});
	table.on('tool(logs)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  if(layEvent === 'detail'){ //查看
	  	console.log(data['name']);
		//do somehing
	  } else if(layEvent === 'del'){ //删除
	  	layer.confirm('确定要删除此分类吗？', function(index){
		  obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
		  layer.close(index);
		  //向服务端发送删除指令
		  var sub_data = {
		  	id:data['id']
		  };
		  $.post("{:U('Activity/ajax_delete_activity')}",sub_data,function(ret){
		  	if(ret['code'] == 0){
		  		layer.msg('删除成功',function(){
		  			window.location.reload();
		  		})
		  	}else{
		  		layer.msg(ret['msg']);
		  	}

		  });
		});
	  } else if(layEvent === 'edit'){ //编辑
	  	edit_view(data);
	  }
	});
	function edit_view(data){
	
		var type_one_str = '';
		var type_day_str = '';
		if(data['type'] == 0){
			type_one_str = ' selected ';
		}
		if(data['type'] == 1){
			type_day_str = ' selected ';
		}
		var open_shi_str = '';
		var open_fou_str = '';
		if(data['is_open'] == 0){
			open_fou_str = ' selected ';
		}
		if(data['is_open'] == 1){
			open_shi_str = ' selected ';
		}
		$('body').append("<div id='edit_modal' style='display:none;padding:20px;'>"+
			"<form class='layui-form'>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>名称</label>"+
				"<div class='layui-input-block'>"+
				"<input type='text' id='config_name'  required  lay-verify='required' placeholder='请输入活动名称' autocomplete='off' class='layui-input' value='"+data['config_name']+"'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>副标题</label>"+
				"<div class='layui-input-block'>"+
				"<input type='text' id='sub_title'  required  lay-verify='required' placeholder='请输入副标题' autocomplete='off' class='layui-input' value='"+data['sub_title']+"'>"+
				"</div>"+
			"</div>"+
			'<div class="layui-form-item">'+
				'<label class="layui-form-label">封面图片</label>'+
				'<div class="layui-input-block">'+
					'<div class="layui-upload" style="text-align:left">'+
						'<blockquote class="layui-elem-quote">图片请上传750px*726px的图片</blockquote>'+
						'<div class="layui-upload-list">'+
							'<img class="layui-upload-img" id="cover_image" style="width:187px;height:181px;border:1px solid #CCC;" src="'+data['cover_image']+'">'+
						'</div>'+
					'</div>'+
				'</div>'+
			'</div>'+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>赠送数量</label>"+
				"<div class='layui-input-block'>"+
				"<input type='number' id='config_num'  required  lay-verify='required' placeholder='请输入赠送数量' autocomplete='off' class='layui-input' value='"+data['config_num']+"'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item' style='margin-left:110px;'>"+
			'<label style="color:red;">*0表示，不设置数量，赠送时手动添加*</label>'+
			"</div>"+
			"<div class='layui-form-item'>"+
					"<label class='layui-form-label'>活动类型</label>"+
					"<div  class='layui-input-block'>"+
						"<select id='type' class='menu_pid' style='display:block;'>"+
						'<option value="" >请选择活动类型</option>'+
						'<option value="0"  '+type_one_str+'>单人限次</option>'+
						'<option value="1"  '+type_day_str+'>每日限次</option>'+
						"</select>"+
					"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>单人限领次数</label>"+
				"<div class='layui-input-block'>"+
				"<input type='number' id='once_num'  required  lay-verify='required' placeholder='请输入单人限领次数' autocomplete='off' class='layui-input' value='"+data['once_num']+"'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>每日限领次数</label>"+
				"<div class='layui-input-block'>"+
				"<input type='number' id='day_num'  required  lay-verify='required' placeholder='请输入每日限领次数' autocomplete='off' class='layui-input' value='"+data['day_num']+"'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
					"<label class='layui-form-label'>是否开启</label>"+
					"<div  class='layui-input-block'>"+
						"<select id='is_open' class='menu_pid' style='display:block;'>"+
						'<option value="" >请选择是否开启</option>'+
						'<option value="1"  '+open_shi_str+'>是</option>'+
						'<option value="0"  '+open_fou_str+'>否</option>'+
						"</select>"+
					"</div>"+
			"</div>"+
			"<input type='hidden' id='type_id' value='"+data['id']+"'>"+
			"</form>"+
			"</div>"
			);
			//单图片上传
	layui.use('upload', function () {
		var upload = layui.upload;
		var uploadInst = upload.render({
			elem: '#cover_image',//绑定元素
			url: '{:U("Index/upload_image")}',//上传接口
			before: function (obj){
				//预读图片
				obj.preview(function (index, file, result) {
					$('#cover_image').attr('src', result);
				});
			},
			done: function (res) {
				$('#cover_image').attr('src', res['data']['path']);
			},
			error: function () {
				//请求异常回调
			}
		});
	});
		layer.open({
			type:1,
			title:'编辑活动',
            //skin: 'layui-layer-molv', //加上边框
            area: ['650px', '800px'],
            content: $("#edit_modal"),
            btn: ['确认','取消'],
            yes: function(index, layero){
            	var config_name = $("#config_name").val();
            	var config_num = $('#config_num').val();
            	var type = $('#type').val();
            	var once_num = $('#once_num').val();
            	var day_num = $('#day_num').val();
            	var is_open = $('#is_open').val();
            	var type_id = $('#type_id').val();
            	var sub_title = $('#sub_title').val();
				var cover_image = $("#cover_image").attr('src');
            	if(config_name == ''){
            		layer.msg('请输入活动名称');
            		return;
            	}
            	if(config_num == ''){
            		layer.msg('请输入赠送数量');
            		return;
            	}
            	if(type == ''){
            		layer.msg('请选择活动类型');
            		return;
            	}
            	if(once_num == ''){
            		layer.msg('请输入单人限领次数');
            		return;
            	}
            	if(day_num == ''){
            		layer.msg('请输入每日限领次数');
            		return;
            	}
            	if(is_open == ''){
            		layer.msg('请选择是否开启');
            		return;
            	}
            	if(cover_image == ''){
            		layer.msg('请上传封面图片');
            		return;
            	}
            	if (sub_title == "") {
            		layer.msg('请输入副标题');
            		return;
            	}
            	var sub_data = {
            		id:type_id,
            		config_name:config_name,
            		config_num:config_num,
            		type:type,
            		once_num:once_num,
            		day_num:day_num,
            		is_open:is_open,
            		cover_image:cover_image,
            		sub_title:sub_title,
					level:0
            	}
				lottery_config = encodeURIComponent(JSON.stringify(sub_data));
				var data = {
					lottery_config: lottery_config
				}
            	$.post("{:U('Activity/ajax_edit_activity')}",data,function(ret){
            		if(ret['code'] == 0){
            			layer.msg('编辑成功',function(){
            				window.location.reload();
            			})
            		}else{
            			layer.msg(ret['msg']);
            		}

            	})
            },
            btn2: function(index, layero){
            	$("#edit_modal").remove()
				//取消按钮
			},
			cancel: function(){
				//右上角关闭回调
				$("#edit_modal").remove()
			}
		});
	}
		
	function sub(){
		var temp_image_url = '';
		$('body').append("<div id='add_modal' style='display:none;padding:20px;'>"+
			"<form class='layui-form'>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>名称</label>"+
				"<div class='layui-input-block'>"+
				"<input type='text' id='config_name'  required  lay-verify='required' placeholder='请输入活动名称' autocomplete='off' class='layui-input'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>副标题</label>"+
				"<div class='layui-input-block'>"+
				"<input type='text' id='sub_title'  required  lay-verify='required' placeholder='请输入副标题' autocomplete='off' class='layui-input'>"+
				"</div>"+
			"</div>"+
			'<div class="layui-form-item">'+
				'<label class="layui-form-label">封面图片</label>'+
				'<div class="layui-input-block">'+
					'<div class="layui-upload" style="text-align:left">'+
						'<blockquote class="layui-elem-quote">图片请上传750px*726px的图片</blockquote>'+
						'<div class="layui-upload-list">'+
							'<img class="layui-upload-img" id="cover_image" style="width:187px;height:181px;border:1px solid #CCC;" src="<?php echo 'https://' . $_SERVER['SERVER_NAME'];?>__PUBLIC__/resources/images/upload_holder_good.png">'+
						'</div>'+
					'</div>'+
				'</div>'+
			'</div>'+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>赠送数量</label>"+
				"<div class='layui-input-block'>"+
				"<input type='number' id='config_num'  required  lay-verify='required' placeholder='请输入赠送数量' autocomplete='off' class='layui-input' value='0'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item' style='margin-left:110px;'>"+
			'<label style="color:red;">*0表示，不设置数量，赠送时手动添加*</label>'+
			"</div>"+
			"<div class='layui-form-item'>"+
					"<label class='layui-form-label'>活动类型</label>"+
					"<div  class='layui-input-block'>"+
						"<select id='type' class='menu_pid' style='display:block;'>"+
						'<option value="" >请选择活动类型</option>'+
						'<option value="0" >单人限次</option>'+
						'<option value="1" >每日限次</option>'+
						"</select>"+
					"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>单人限领次数</label>"+
				"<div class='layui-input-block'>"+
				"<input type='number' id='once_num'  required  lay-verify='required' placeholder='请输入单人限领次数' autocomplete='off' class='layui-input' value='0'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
				"<label class='layui-form-label'>每日限领次数</label>"+
				"<div class='layui-input-block'>"+
				"<input type='number' id='day_num'  required  lay-verify='required' placeholder='请输入每日限领次数' autocomplete='off' class='layui-input' value='0'>"+
				"</div>"+
			"</div>"+
			"<div class='layui-form-item'>"+
					"<label class='layui-form-label'>是否开启</label>"+
					"<div  class='layui-input-block'>"+
						"<select id='is_open' class='menu_pid' style='display:block;'>"+
						'<option value="" >请选择是否开启</option>'+
						'<option value="1" >是</option>'+
						'<option value="0" >否</option>'+
						"</select>"+
					"</div>"+
			"</div>"+
			"</form>"+
			"</div>"
			);
			//单图片上传
	layui.use('upload', function () {
		var upload = layui.upload;
		var uploadInst = upload.render({
			elem: '#cover_image',//绑定元素
			url: '{:U("Index/upload_image")}',//上传接口
			before: function (obj){
				//预读图片
				obj.preview(function (index, file, result) {
					$('#cover_image').attr('src', result);
				});
			},
			done: function (res) {
				$('#cover_image').attr('src', res['data']['path']);
			},
			error: function () {
				//请求异常回调
			}
		});
	});
		layer.open({
			type:1,
			title:'添加活动',
            //skin: 'layui-layer-molv', //加上边框
            area: ['650px', '800px'],
            content: $("#add_modal"),
            btn: ['确认','取消'],
            yes: function(index, layero){
            	var config_name = $("#config_name").val();
            	var config_num = $('#config_num').val();
            	var type = $('#type').val();
            	var once_num = $('#once_num').val();
            	var day_num = $('#day_num').val();
            	var is_open = $('#is_open').val();
				var cover_image = $("#cover_image").attr('src');
				var sub_title = $("#sub_title").val();
            	if(config_name == ''){
            		layer.msg('请输入活动名称');
            		return;
            	}
            	if(config_num == ''){
            		layer.msg('请输入赠送数量');
            		return;
            	}
            	if(type == ''){
            		layer.msg('请选择活动类型');
            		return;
            	}
            	if(once_num == ''){
            		layer.msg('请输入单人限领次数');
            		return;
            	}
            	if(day_num == ''){
            		layer.msg('请输入每日限领次数');
            		return;
            	}
            	if(is_open == ''){
            		layer.msg('请选择是否开启');
            		return;
            	}
            	if(cover_image == ''){
            		layer.msg('请上传封面图片');
            		return;
            	}
            	if (sub_title == "") {
            		layer.msg('请输入副标题');
            		return;
            	}
            	var sub_data = {
            		config_name:config_name,
            		config_num:config_num,
            		type:type,
            		once_num:once_num,
            		day_num:day_num,
            		is_open:is_open,
            		cover_image:cover_image,
            		sub_title:sub_title,
            	}
				lottery_config = encodeURIComponent(JSON.stringify(sub_data));
				var data = {
					lottery_config: lottery_config
				}
            	$.post("{:U('Activity/ajax_add_activity')}",data,function(ret){
            		if(ret['code'] == 0){
            			layer.msg('添加成功',function(){
            				window.location.reload();
            			})
            		}else{
            			layer.msg(ret['msg']);
            		}

            	})
            },
            btn2: function(index, layero){
            	$("#add_modal").remove()
				//取消按钮
			},
			cancel: function(){
				//右上角关闭回调
				$("#add_modal").remove()
			}
		});
	}
	function search_lottery(){
		var name = $("#search_name").val();
		table.reload("users",{
			page:{
				curr : 1
			},
			where:{
				name:name,
			}
		})
	}
	function fabu(id,type){	
		var sub_data = {
			id:id,
			type:type
		  };
		  $.post("{:U('Activity/ajax_public_activity')}",sub_data,function(ret){
			if(ret['code'] == 0){
				layer.msg('修改成功',function(){
					window.location.reload();
				})
			}else{
				layer.msg(ret['msg']);
			}
		});
	}
</script>
