<style>
.layui-input-block{
	margin-left: 86px;
}
.layui-form-label{
	width: 56px;
}
</style>
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header layuiadmin-card-header-auto">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">用户</label>
					<div class="layui-input-block">
						<select id="user_id_s">
							<option value="">全部用户</option>
							<volist name="user_list" id="vo">
							<option value="{$vo['id']}">{$vo['id']}-{$vo['nickname']}</option>
							</volist>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">娃娃</label>
					<div class="layui-input-block">
						<select id="lottery_goods_id_s">
							<option value="">全部娃娃</option>
							<volist name="goods_list" id="vo">
							<option value="{$vo['id']}">{$vo['name']}-{$vo['cost']}</option>
							</volist>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">开始时间</label>
					<div class="layui-input-block">
						<input type="text" id="start_time" placeholder="开始时间" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">结束时间</label>
					<div class="layui-input-block">
						<input type="text" id="end_time" placeholder="结束时间" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label" style="width:88px;">收货人电话/ID</label>
					<div class="layui-input-block" style="margin-left: 118px;">
						<input type="text" id="search_val" placeholder="请输入收货人电话/ID" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<a class="layui-btn layuiadmin-btn-order" onclick="search_lottery()">
						<i class="layui-icon layui-icon-search  layuiadmin-button-btn"></i>
					</a>
					<a class="layui-btn layui-btn-danger" onclick="export_test_record()">导出EXCEL
						<i class="layui-icon layui-icon-download-circle  layuiadmin-button-btn"></i>
					</a>
					<a class="layui-btn layui-btn-warm" onclick="edit_record_status()">一键发货
						<i class="layui-icon layui-icon-download-circle  layuiadmin-button-btn"></i>
					</a>
					<a class="layui-btn layui-btn-normal" onclick="edit_record_msg()">导入发货通知
						<i class="layui-icon layui-icon-download-circle  layuiadmin-button-btn"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="layui-card-body">
			<table id="users" lay-filter="users">
			</table>
		</div>
		<div class="layui-tab layui-tab-brief">
		</div>
	</div>
</div>

<form action="{:U('Lottery/upload_file_msg')}" enctype="multipart/form-data" method="post" hidden id="upload_file_msg_form">
<input type="file" id="upload_file_msg" name="upload_file_msg"/>
<input type="text" id="form_start_time" name="form_start_time">
<input type="text" id="form_end_time" name="form_end_time">
<input type="submit" value="提交" >
</form>
<script type="text/html" id="publicTpl">
	{{#  if(d.status === '0'){ }}
	<span class="layui-badge" onclick="fabu({{d.id}},1)" style="color:white;background-color:red;cursor:pointer">未发货</span>
	{{#  } }}
	{{#  if(d.status === '1'){ }}
	<span class="layui-badge-rim" style="color:white;background-color:green;">已发货</span>

	{{#  } }}
</script>
<script type="text/html" id="typeTpl">
	{{#  if(d.type === '0'){ }}
	<span class="layui-badge" style="color:white;background-color:red;">用户抓取</span>
	{{#  } }}
	{{#  if(d.type === '1'){ }}
	<span class="layui-badge-rim" style="color:white;background-color:green;">管理员赠送</span>

	{{#  } }}
	{{#  if(d.type === '-3'){ }}
	<span class="layui-badge" style="color:white;background-color:red;">宝箱抽奖</span>
	{{#  } }}
	{{#  if(d.type === '-4'){ }}
	<span class="layui-badge" style="color:white;background-color:red;">领养活动</span>
	{{#  } }}
	{{#  if(d.type === '-5'){ }}
	<span class="layui-badge" style="color:white;background-color:red;">临时活动</span>
	{{#  } }}
	{{#  if(d.type === '-6'){ }}
	<span class="layui-badge" style="color:white;background-color:red;">水果活动</span>
	{{#  } }}
	{{#  if(d.type === '-7'){ }}
	<span class="layui-badge" style="color:white;background-color:red;">圣诞活动</span>
	{{#  } }}
	
</script>

<script src="__PUBLIC__/resources/layui/layui.all.js"></script>
<script type="text/javascript">
	var table = layui.table;
	layui.use('table', function(){
		table.render({
			elem: '#users',
			height: 500,
			url: '{:U("Lottery/ajax_get_record_log")}', //数据接口
			page: true, //开启分页
			id:'users',
			cols: [
			[ 
					//表头
					{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
					{field: 'lottery_type_name', title: '分类名称', width:100, sort: true},
					{field: 'lottery_config_name', title: '配置时间', width:100},
					{field: 'lottery_config_name', title: '抓娃娃名称', width:100},
					{field: 'lottery_goods_name', title: '娃娃名称', width:150},
					{field: 'user_name', title: '中奖用户昵称', width:100},
					{field: 'add_time', title: '中奖时间', width:180},
					{field: 'realname', title: '联系人', width:100},
					{field: 'tel', title: '手机号', width:150},
					{field: 'address', title: '地址', width:200},
					{field: 'memo', title: '备注', width:200},
					{field: 'status', title: '发货状态', templet:"#publicTpl",fixed: 'right', sort: true,width:100},
					{field: 'type', title: '中奖类型',  templet:"#typeTpl",width:100,fixed: 'right'},
					]
					]
				});

	});
	
	layui.use('laydate', function(){
		var laydate = layui.laydate;
		laydate.render({
			elem: '#start_time' //指定元素
		});
		laydate.render({
			elem: '#end_time' //指定元素
		});
	});
	function search_lottery(){
		var user_id = $("#user_id_s").val();
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		var search_val = $("#search_val").val();
		if (Date.parse(start_time) > Date.parse(end_time)) {
			layer.msg("开始时间不能大于结束时间");
			return;
		}
		table.reload("users",{
			page:{
				curr : 1
			},
			where:{
				start_time:start_time,
				end_time:end_time,
				user_id:user_id,
				search_val:search_val,
			}
		})
	}
	function fabu(id,type){	
		var sub_data = {
			id:id,
			type:type
		  };
		  $.post("{:U('Lottery/ajax_record_status')}",sub_data,function(ret){
			if(ret['code'] == 0){
				layer.msg('编辑成功',function(){
					window.location.reload();
				})
			}else{
				layer.msg(ret['msg']);
			}
		});
	}
	function export_test_record(){
		var user_id = $("#user_id_s").val();
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		var search_val = $("#search_val").val();
		if(start_time != '' && end_time != ''){
			if (Date.parse(start_time) > Date.parse(end_time)) {
				layer.msg("开始时间不能大于结束时间");
				return;
			}
		}
		window.location.href = "{:U('Lottery/export_test_delivery')}" + '?start_time=' + start_time + '&end_time=' + end_time + '&user_id=' + user_id + '&search_val=' + search_val;
	}
	
	function edit_record_status(){
		var user_id = $("#user_id_s").val();
		var lottery_goods_id = $("#lottery_goods_id_s").val();
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		var search_val = $("#search_val").val();
		if(start_time != '' && end_time != ''){
			if (Date.parse(start_time) > Date.parse(end_time)) {
				layer.msg("开始时间不能大于结束时间");
				return;
			}
		}
		if(user_id == '' && lottery_goods_id == ''){
			layer.msg("请选择条件，一键发货用户和娃娃必须选择其一");
			return;
		}
		//window.location.href = "{:U('Lottery/edit_record_status')}" + '?start_time=' + start_time + '&end_time=' + end_time + '&user_id=' + user_id + '&lottery_goods_id=' + lottery_goods_id;
		
		var sub_data = {
			user_id:user_id,
			lottery_goods_id:lottery_goods_id,
			start_time:start_time,
			end_time:end_time,
			search_val:search_val,
		  };
		  $.post("{:U('Lottery/edit_record_status')}",sub_data,function(ret){
			if(ret['code'] == 0){
				layer.msg('发货成功',function(){
					window.location.reload();
				})
			}else{
				layer.msg(ret['msg']);
			}
		});
	}
	
	function edit_record_msg(){
		$("#upload_file_msg").trigger('click');
	}
	$("#upload_file_msg").change(function(){
		var wenjian_name = $("#upload_file_msg").val();
		var filename=wenjian_name.replace(/.*(\/|\\)/, "");
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		if(start_time != '' && end_time != ''){
			if (Date.parse(start_time) > Date.parse(end_time)) {
				layer.msg("开始时间不能大于结束时间");
				return;
			}
		}
		$("#form_start_time").val(start_time);
		$("#form_end_time").val(end_time);
		$("#upload_file_msg_form").ajaxSubmit(function(ret){
		console.log(ret);
			if(ret['code'] == 0){
				layer.msg('导入成功',function(){
					window.location.reload();
				})
			}else{
				layer.msg(ret['msg']);
			}
		});
	})
</script>
