<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-sm12">
			<div class="layui-card row">
				<div class="layui-card-body">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<label class="layui-form-label">标题</label>
							<div class="layui-input-block">
								<input type="text" id="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" value="{$article.title}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">封面图片</label>
							<div class="layui-input-block">
								<div class="layui-upload" style="text-align:left">
									<div class="layui-upload-list">
										<img class="layui-upload-img" id="cover_image" style="width:200px;height:200px;border:1px solid #CCC;" src="<if condition="$article['cover_image'] neq ''"> {$article.cover_image} </if><if condition="$article['cover_image'] eq ''"><?php echo 'https://' . $_SERVER['SERVER_NAME'];?>__PUBLIC__/resources/images/upload_holder_good.png </if>">
									</div>
								</div>
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">详情编辑</label>
							<div class="layui-input-block">
								<textarea class='layui-textarea' id="content" style='height:350px;text-align:left'>{$article.content}</textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<a href='javascript:;' class="layui-btn" onclick='sub_tijaio()'>立即提交</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/resources/layui/layui.all.js"></script>
	<script type="text/javascript" src="__PUBLIC__/resources/umeditor/template.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/resources/umeditor/umeditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/resources/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/resources/umeditor/zh-cn.js"></script>
    <script src="__PUBLIC__/resources/Sortable.min.js"></script>
	<link href="__PUBLIC__/resources/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
	<script type="text/javascript">
		//实例化编辑器
		var um = UM.getEditor('content');
		var layer, element;
		layui.use(['layer', 'element'], function () {
			layer = layui.layer;
		});
		//单图片上传
		layui.use('upload', function () {
			var upload = layui.upload;
			var uploadInst = upload.render({
				elem: '#cover_image',//绑定元素
				url: '{:U("Index/upload_image")}',//上传接口
				before: function (obj){
					//预读图片
				obj.preview(function (index, file, result) {
					console.log(file)
					$('#cover_image').attr('src', result);
				});
				},
				done: function (res) {
					$('#cover_image').attr('src', res['data']['path']);
				},
				error: function () {
					//请求异常回调
				}
			});
		});
		function sub_tijaio() {
			var cover_image = $("#cover_image").attr('src');
			var title = $("#title").val();
			var content = um.getContent()
			//var is_index_show = $("#is_index_show").val();
			if(title == ''){
				layer.msg('请填写文章标题');
				return;
			}
            if(content == ''){
                layer.msg('请输入文章内容');
                return;
            }
            if(cover_image == undefined){
                layer.msg('请上传封面图片');
                return;
            }
			var add_xinxi = {
				id:{:I('id')},
				title: title,
				cover_image: cover_image,
				content: content,
			};
			lottery_config = encodeURIComponent(JSON.stringify(add_xinxi));
			var data = {
				lottery_config: lottery_config
			}
			$.post("{:U('Article/ajax_edit_article')}", data, function (ret) {
				if (ret['code'] == '0') {
					layer.msg('更新成功');
				} else {
					layer.msg(ret['msg']);
				}
			})
		}
	</script>
