
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header layuiadmin-card-header-auto">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">标题</label>
					<div class="layui-input-block">
						<input type="text" id="name" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<a class="layui-btn layuiadmin-btn-order" onclick="sub()">
						<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
					</a>
					<a class="layui-btn layuiadmin-btn-order" onclick="add_a()">
						<i class="layui-icon layui-icon-add-1 layuiadmin-button-btn"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="layui-card-body">
			<table id="users" lay-filter="users">
			</table>
		</div>
		<div class="layui-tab layui-tab-brief">
		</div>
	</div>
</div>
<script type="text/html" id="barDemo">
	<!--<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="coverImageTpl">
	<img src="{{d.cover_image}}" title="{{d.cover_image}}" style="width:100%;">
</script>
<script src="__PUBLIC__/resources/layui/layui.all.js"></script>
<script type="text/javascript">
	var table = layui.table;
	layui.use('table', function(){
		table.render({
			elem: '#users',
			height: 500,
			url: '{:U("Article/ajax_get_tiezi_list")}', //数据接口
			page: true, //开启分页
			id:'users',
			cols: [
				[ 
					//表头
					{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
					//{field: 'cover_image', title: '封面图片', width:300, sort: true,templet:"#coverImageTpl"},
					{field: 'title', title: '标题', width:300},
					{field: 'content', title: '内容', width:600},
					{field: 'add_time', title: '发布时间', width:200},
					{fixed: 'right',title:'操作',  align:'center', toolbar: '#barDemo',fixed: 'right',width:150} 
				]
			]
		});

	});
	table.on('tool(users)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象

	  if(layEvent === 'detail'){ //查看
		console.log(data['name']);
		//do somehing
	  } else if(layEvent === 'del'){ //删除
		layer.confirm('确定删除此选项吗？', function(index){
		  layer.close(index);
		  
		  //向服务端发送删除指令
		  var sub_data = {
			id:data['id']
		  };
		  $.post("{:U('Article/ajax_delete_tiezi')}",sub_data,function(ret){
			if(ret['code'] == 0){
				layer.msg('删除成功',function(){
					//window.location.reload();
				})
				obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
			}else{
				layer.msg(ret['msg']);
			}

		  });
		});
	  } else if(layEvent === 'edit'){ //编辑
		window.location.href = "{:U('Article/edit_tiezi_view')}"+'?id='+data['id'];
	  }
	});
	function sub(){
		var title = $("#name").val();
		table.reload("users",{
			page:{
				curr : 1
			},
			where:{
				title:title,
			}
		})
	}

	function add_a(){
		window.location.href = "{:U('Article/add_tiezi_view')}";
	}
</script>
