<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no">
	<title>活动中心</title>
	<link rel="stylesheet" href="__PUBLIC__/weixin/css/index.css">
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body class="activity_bg" style="background-image: url('{$activity_info['cover_image']}')">
	<div class="activity_container">
		<img src="{$user_info['headimgurl']}" alt="{$user_info['nickname']}" title="{$user_info['headimgurl']}" class="img">
		<p class="activity_title">{$activity_info['config_name']}</p>
		<p class="activity_content">{$activity_info['sub_title']}</p>
	</div>
	<div class="activity_get">
		<input class="activity_input" type="tel" placeholder="请输入手机号" id="tel"  <if condition="$user_info['phone'] neq ''">disabled="" value="{$user_info['show_phone']}"</if>>
		<a href="javascript:;" class="activity_btn" onclick="sub()">立即领取</a>
	</div>
<script>
	var _mtac = {};
	(function() {
		var mta = document.createElement("script");
		mta.src = "https://pingjs.qq.com/h5/stats.js?v2.0.2";
		mta.setAttribute("name", "MTAH5");
		mta.setAttribute("sid", "500627254");
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(mta, s);
	})();
</script>

	<div class="bind_tel_bg" id="bind_tel">
		<ul class="address_list bind_tel">
			<li class="border_bottom">
				<input type="tel" id="phone" class="input" placeholder="请输入手机号">
				<span class="icon_close" onclick="close_bind_tel()"></span>
			</li>
			<li class="border_bottom">
				<input type="tel" id="code" class="input" placeholder="验证码" style="width: 80px;margin-right: 10px;">
				<a href="javascript:;" title="获取验证码" class="code" style="margin-right:0px;" onclick="get_code()" id="code_ctrl">获取验证码</a>
			</li>
			<li>
				<a href="javascript:sub_bind_tel();" class="address_save_btn" style="height: 40px;;line-height: 40px;font-size: 14px;margin:10px auto;">立即绑定</a>
			</li>

		</ul>
	</div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/weixin/js/fly.js"></script>
<script src="https://js.fundebug.cn/fundebug.1.1.2.min.js"
  apikey="62393626ed1383ae5c9cca4b0916540a756347a82d67d74a7e4d82696590a3e1"></script>
<script type="text/javascript">
	fly.init();
	function bind_tel(){
		$("#bind_tel").fadeIn();
		$("#phone").val($("#tel").val());
	}
	function close_bind_tel(){
		$("#bind_tel").fadeOut();
	}
	function sub_bind_tel(){
		var phone = $("#phone").val();
		var code = $("#code").val();
		if (phone == "") {
			alert("请输入手机号~");
			return;
		}
		if (code == "") {
			alert("请输入验证码~");
			return;
		}
		var data = {
			phone:phone,
			code:code,
		}
		$.post("{:U("Index/ajax_bind_phone")}",data,function(ret){
			if (ret['code'] != 0) {
				alert(ret['msg']);
			}
			else{
				alert("恭喜您绑定成功~记得点击‘立即领取’按钮领取糖豆哦~");
				window.location.reload();
			}
		})

	}
	var timer = null;
	var last_seconds = 60;
	function change_code(){
		if (last_seconds < 0) {
			last_seconds = 60;
			$("#code_ctrl").text("获取验证码");
			clearInterval(timer);
			return;
		}
		else{
			last_seconds -= 1;
			$("#code_ctrl").text(last_seconds + "s");
		}
	}
	function get_code(){
		if (last_seconds != 60) {
			return;
		}
		var phone = $("#phone").val();
		if (phone == "") {
			alert("请输入手机号~");
			return;
		}
		var data = {
			phone:phone,
		}
		$.post("{:U("Index/ajax_send_code")}",data,function(ret){
			if (ret['code'] != 0) {
				alert(ret['msg']);
			}
			else{
				timer = setInterval('change_code()',1000);
			}
		})
	}
	function sub(){
		var tel = $("#tel").val();
		if (tel.indexOf('*') != -1) {
			tel = '{$user_info['phone']}';
		}
		if (tel == "") {
			alert("请输入手机号~");
			return;
		}
		var data = {
			tel:tel,
			id:{$activity_info['id']},
		}
		$.post("{:U('Index/ajax_link_activity')}",data,function(ret){
			if (ret['code'] == 0) {
				alert("恭喜您成功领取" + ret['data']['coin_num'] + "个糖豆~");
			}
			else{
				if (ret['msg'] == "need_bind_phone") {
					bind_tel();
				}
				else{
					alert(ret['msg']);	
				}
			}
		})
	}
</script>